In [17]:
# Reloads modules as they are changed.
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [104]:
import os
import sys
from pathlib import Path

import numpy as np
import pandas as pd

sys.path.append("..")
# from src.data import make_dataset
from src.data import make_dataset

# import src.data.make_dataset as make_data

In [120]:
df = make_dataset.load_raw_labels()

In [128]:
df = make_dataset.make_binary_labels(df)
df.head()

,image_name,tags,haze,primary,agriculture,clear,water,habitation,road,cultivation,...,cultivation,slash_burn,cloudy,partly_cloudy,conventional_mine,bare_ground,artisinal_mine,blooming,selective_logging,blow_down
0,train_0,haze primary,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,train_1,agriculture clear primary water,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,train_2,clear primary,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,train_3,clear primary,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,train_4,agriculture clear habitation primary road,0,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
df_images = make_dataset.load_raw_jpgs()
df_images

       image_name                                        pixel_array
0         train_0  [[[158, 143, 150], [161, 143, 153], [161, 143,...
1         train_1  [[[208, 194, 200], [204, 192, 199], [199, 188,...
2        train_10  [[[220, 209, 209], [215, 207, 211], [216, 206,...
3       train_100  [[[168, 157, 153], [168, 157, 153], [168, 157,...
4      train_1000  [[[180, 164, 173], [180, 166, 167], [179, 167,...
...           ...                                                ...
1500  train_11347  [[[217, 201, 207], [213, 198, 202], [206, 194,...
1501  train_11348  [[[186, 178, 180], [183, 175, 178], [180, 172,...
1502  train_11349  [[[145, 135, 143], [143, 133, 142], [138, 130,...
1503   train_1135  [[[252, 237, 235], [250, 238, 236], [250, 240,...
1504  train_11350  [[[202, 192, 198], [204, 193, 199], [210, 198,...

[1505 rows x 2 columns]

In [94]:
make_dataset.save_interim_images(df_images)

In [95]:
processed_data = make_dataset.make_processed_data(df_images, df)
processed_data.head()

,image_name,r_mean,g_mean,b_mean,r_max,g_max,b_max,r_min,g_min,b_min,...,cultivation,slash_burn,cloudy,partly_cloudy,conventional_mine,bare_ground,artisinal_mine,blooming,selective_logging,blow_down
0,train_0,163.212616,145.653000,151.390854,181,158,164,138,130,137,...,0,0,0,0,0,0,0,0,0,0
1,train_1,189.360138,178.502625,190.698410,226,214,217,85,101,124,...,0,0,0,0,0,0,0,0,0,0
2,train_10,199.677139,197.728287,204.278961,250,234,228,124,149,156,...,0,1,0,0,0,0,0,0,0,0
3,train_100,157.160950,148.410355,146.096863,174,162,175,27,30,32,...,0,0,0,0,0,1,0,0,0,0
4,train_1000,131.169815,120.781433,128.889297,195,182,179,4,9,12,...,0,0,1,1,0,0,0,0,0,0

In [149]:
make_dataset.save_processed_data(processed_data)